  
  
 .NavBar { 
   position:fixed;
   display:inline-flex;
   justify-content:space-around;
   padding:10px 10px 10px 10px;
 
   .textDeco{
     background-color:greenyellow;
  text-decoration:none;
  text-align:center;
  color: black;
    :hover{
      background-color:green;
    }
   }
   ul {
     overflow:hidden;
     list-style-type: none;
     background-color:black;
   }
  li{
  display:inline;
  padding:10px 10px 10px 10px;
  }} 
   
  .HeadBox{
    
    display:flex;
    text-align:center;
    justify-content: space-between;
    flex-wrap:wrap;
    overflow:hidden;

    .hbox-2{
      background-color:teal;
      flex-basis: 100%;
      order:1;
      color:teal;
      h1{

        background-color:yellow;
      }
    }
  }
  

  .mainContent{
    text-align:center;
    display:flex;
    flex-direction: COLUMN;
    
    div {
      background-color:yellow;
      MARGIN:100PX;
    }
    img{
      max-height:50%;
      max-width:50%;
      float:left;
      margin:10px;
    }
    
  }

