  
  
 .NavBar { 
   position:fixed;
   display:inline-flex;
   justify-content:space-around;
   padding:10px 10px 10px 10px;
 
   .textDeco{
     background-color:greenyellow;
  text-decoration:none;
  text-align:center;
  color: black;
    :hover{
      background-color:green;
    }
   }
   ul {
     overflow:hidden;
     list-style-type: none;
     background-color:black;
   }
  li{
  display:inline;
  padding:10px 10px 10px 10px;
  
  
  
  
  }} 
  
  
  
  .HeadBox{
    margin-top:10px;
    display:flex;
    text-align:center;
    justify-content: space-between;
    flex-wrap:wrap;
    .hbox-1{
      order:1;
      flex-basis: 5%;
      background-color:turquoise; 
      position:fixed;
      
    }
    
    .hbox-2{
      background-color:yellow;
      flex-basis: 95%;
      order:2;
      
    
      

    }
  }
  .sliderbar {
    display:flex;
    justify-content:space-between;
    
    .sbox-1{
      background-color:Green;
    }
    .sbox-2{
      background-color:yellow;
    }
    .sbox-3{
      background-color:turquoise;
    }
    .sbox-4{
      background-color:gray;
    }
  }

  .mainContent{
    background-color:gray;
    text-align:center;
    display:inline;
    div {
      margin-bottom:5em;
      margin-top:5em;
    }
    img{
      text-align:center;
      max-height:50%;
      max-width:50%;
    }
    
  }

